{% set activo = "documentos" %}
{% extends "@Documentacion/layout.html.twig" %}
{% block title %}Listado de Documentos{% endblock %}
{% block pageid 'admin' %}

    {% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Documentos</li>
        </ol>
    </nav>

        <div class="alert alert-warning" role="alert">
            {% for mensaje in app.session.flashbag.get('warn') %}
                <p class="warn">{{ mensaje }}</p>
            {% endfor %}
        </div>

        <h3>Listado de Documentacion</h3>
        <br>
         <b>Cantidad de Archivos Sin Vinculacion:</b> {{ cantidad }}
        <br>
        <hr>
        {% if cantidad > 0  %}
          <a id="btn_borrar_todos" href="#" class="btn btn-primary">Eliminar Todos</a>
          <br>
          <br>
        {% endif %}

        <div class="grid_16">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Archivo Fisico</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% set c = 0 %}
                {% for documento in documentos %}
                                        <tr>
                                            <td>
                                                {% set c = c + 1 %}
                                                {{ c }}
                                            </td>
                                            <td>{{ documento['archivo'] }}</td>
                                            <td>

                                                <a id="btn_borrar_uno" data-nombre="{{ documento['archivo'] }}" href="#">
                                                    <i class="material-icons">delete</i>
                                                </a>

                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="3">No existe ningun Documento Fisico que este sobrando</td>
                                        </tr>
                                    {% endfor %}



                </tbody>
            </table>
        </div>
    {% endblock %}
    {% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('a[id=btn_borrar_todos]').on('click', function () {
                event.preventDefault();
                var url = "{{ path('documento_eliminar_sobrantes') }}";
                if (confirm('Esta seguro de Eliminar Todos los Archivos Sin Vinculacion??')) {
                    $(location).attr('href', url);
                }
            });

            $('a[id=btn_borrar_uno]').on('click', function () {
                event.preventDefault();
                nombre = $(this).data("nombre");
                var url = "{{ path('documento_eliminar_sobrante', {'nombre': 'text'}) }}";
                url = url.replace("text", nombre);
                if (confirm('Esta seguro de Eliminar el Archivo Sin Vinculacion??')) {
                    $(location).attr('href', url);
                }
            });

        });
    </script>
    {% endblock %}
