{% set activo = "importacion" %}
{% extends "@Documentacion/layout.html.twig" %}
{% block title %}Importacion de Datos{% endblock %}
{% block pageid 'admin' %}
{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('principal_logueado') }}">Home</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{{ path('admin_importacion_listar') }}">Importacion</a></li>
        <li class="breadcrumb-item active" aria-current="page">Nuevo</li>
    </ol>
</nav>

      <h2><i class="material-icons">add</i>&nbsp;&nbsp;Nueva Importacion</h2>
      <br>

      <div class='row'>
          <div class='col-lg-6'>
            {{ form_errors(form) }}
            {{ form_start(form) }}
                  <div class='control-group form-group'>
                      <label for="username"><b>{{ form_label(form.nombre) }}</b></label>
                      <div class='controls'>
                          {{ form_widget(form.nombre) }}
                      </div>
                  </div>

                  <div class='control-group form-group'>
                      <label for="username"><b>{{ form_label(form.archivo) }}</b></label>
                      <div class='controls'>
                          {{ form_widget(form.archivo) }}
                      </div>
                  </div>

                  <div class='control-group form-group'>
                      <label for="username"><b>{{ form_label(form.descripcion) }}</b></label>
                      <div class='controls'>
                          {{ form_widget(form.descripcion) }}
                      </div>
                  </div>


                  <div class='control-group form-group'>
                      <div class='controls'>
                          <button class="btn btn-primary" type="submit">Aceptar</button>
                      </div>
                  </div>
                  <div class='control-group form-group'>
                      <div class='controls'>
                          {{ form_errors(form) }}
                          {{ form_errors(form.nombre) }}
                          {{ form_errors(form.archivo) }}
                          {{ form_errors(form.descripcion) }}
                      </div>
                  </div>

              {{ form_end(form) }}
          </div>
      </div>


{% endblock %}
