{% set activo = 'nada' %}
{% extends "@Documentacion/layout.html.twig" %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('principal_logueado') }}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Cambiar Contraseña</li>
  </ol>
</nav>
    <H1>Usuario</H1>
    <br>
    <!-- AGREGAR CÓDIGO FALTANTE -->
    {{ form_errors(form) }}
    {{ form_start(form) }}

    <table class="table">
      <tr>
        <td>{{ form_label(form.username) }}</td>
        <td>{{ form_widget(form.username) }}</td>
      </tr>
      <tr colspan='2'>
        <td>{{ form_errors(form.username) }}</td>
      </tr>
    </table>
    <input type="submit" class="btn btn-success" value="Aceptar">
    {{ form_end(form) }}
{% endblock %}
