{% set activo = 'nada' %}
{% extends "@Documentacion/layout.html.twig" %}
    {% block body %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('principal_logueado') }}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cambiar Contraseña</li>
      </ol>
    </nav>
    <h2><i class="material-icons">edit</i>&nbsp;&nbsp;Cambiar Contrase&ntilde;a</h2>
    <br>

    <div class='row'>
        <div class='col-lg-6'>
          {{ form_errors(form) }}
          {{ form_start(form) }}
                <div class='control-group form-group'>
                    <label for="username"><b>{{ form_label(form.plainPassword.first, 'Contraseña') }}</label>
                    <div class='controls'>
                        {{ form_widget(form.plainPassword.first) }}&nbsp;&nbsp;&nbsp;
                    </div>
                </div>

                <div class='control-group form-group'>
                    <label for="username"><b>{{ form_label(form.plainPassword.second, 'Repetir Contraseña') }}</b></label>
                    <div class='controls'>
                        {{ form_widget(form.plainPassword.second) }}&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
                {{ form_errors(form.plainPassword.first) }}
                {{ form_errors(form.plainPassword.second) }}

                <div class='control-group form-group'>
                    <div class='controls'>
                        <button class="btn btn-primary" type="submit">Aceptar</button>
                    </div>
                </div>
                <div class='control-group form-group'>
                    <div class='controls'>
                        {{ form_errors(form) }}
                    </div>
                </div>

            {{ form_end(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
    {% endblock %}
